section.introduction-2.section-py
	.container
		.intro-grid
			//- Vision
			.col-item(data-aos="fade-right")
				.header-box
					.icon
						+PugImg("./img/tamnhin.svg")
					h3.title Tầm Nhìn
				.desc
					p Thiên Lộc đặt mục tiêu trở thành đơn vị dẫn đầu và góp phần quan trọng vào việc thay đổi cách thức làm việc của một doanh nghiệp sản xuất: từ B2B nay kết hợp B2B và B2C. Thiên Lộc đã, đang, và sẽ giải quyết được những bài toán của khách hàng để tiên phong đón đầu mọi xu hướng trong thời đại công nghệ số hiện nay.
				.img-wrapper
					+PugImg("./img/1.jpg")
			
			//- Mission
			.col-item(data-aos="fade-left" data-aos-delay="200")
				.header-box
					.icon
						+PugImg("./img/tamnhin.svg")
					h3.title Sứ Mệnh
				.desc
					ul
						li Tối đa hóa lợi ích và đáp ứng hoàn hảo nhu cầu của khách hàng, đối tác.
						li Tạo ra giá trị nghề nghiệp và sự thịnh vượng cho người lao động.
						li Sản xuất có trách nhiệm với môi trường.
				.img-wrapper
					+PugImg("./img/1.jpg")
