.home-2
	//- Marquee Animation
	@apply bg-primary-1 relative pb-10 lg:pb-20 overflow-hidden
	.home-2-decor
		height: calc(300/1920*100rem)
		@apply w-auto object-contain absolute -bottom-20 md:-bottom-28 -right-1/2
		img
			@apply h-full w-auto object-contain 
		@media (min-width: 1024px)
			height: calc(500/1920*100rem)
	.marquee-wrapper
		@apply overflow-hidden
	.marquee
		@apply flex w-full gap-10
		.marquee-content
			@apply flex shrink-0 items-center gap-8
			animation: marquee 20s linear infinite
			color: rgba(255, 255, 255, 0.15)
		.marquee-item, .marquee-dot
			font-family: "Inter Tight", sans-serif
			letter-spacing: -2.208px
			@apply uppercase whitespace-nowrap font-bold title-80 md:title-138
	.section-header
		@apply mb-0	
	.list-grid
		@apply grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-1
		
	@keyframes marquee
		0%
			transform: translateX(0)
		100%
			transform: translateX(-100%)

.product-cards
	.row
		@apply flex-wrap
		.col
			@apply p-0

	.product-card
		@apply relative overflow-hidden cursor-pointer img-ratio ratio:pt-[600_476]

		.product-img
			@apply absolute inset-0 transition-transform duration-500 z-0

			img
				@apply w-full h-full object-cover

		.product-content
			@apply absolute bottom-0 left-0 right-0 p-4 md:p-10 space-y-6 text-white z-20
			@apply transition-all duration-500 ease-out
			transform: translateY(4rem)

		.product-title
			@apply title-24
			@apply xl:title-36 font-bold text-white

		.product-desc
			@apply body-18 line-clamp-6

		.product-line
			@apply w-full h-1 bg-white

		.product-btn
			@apply opacity-0 transition-all duration-300
		&::before
			content: ''
			@apply absolute inset-0 z-10 pointer-events-none
			background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,.5) 100%)
		&::after
			content: ''
			@apply absolute inset-0 z-12 pointer-events-none
			background: linear-gradient(180deg, rgba(3,4,94,0) 0%, #03045E 100%)
			transform: translateY(100%)
			opacity: 0
			transition: transform .3s ease-out, opacity .3s ease-out
		&:hover
			.product-img
				transform: scale(1.05)

			.product-content
				transform: translateY(0)

			.product-btn
				@apply opacity-100

			&::after
				transform: translateY(0)
				opacity: 1
