extends ./_layout/_default.pug

block var
	- var title = 'Home'
	- var bodyClass = 'homepage'

block main
	include ../components/global/PageBanner/PageBanner.pug
	include ../components/modules/Home/Home-1/Home-1.pug
	include ../components/modules/Home/Home-2/Home-2.pug
	include ../components/modules/Home/Home-3/Home-3.pug
	include ../components/modules/Home/Home-4/Home-4.pug
	include ../components/modules/Home/Home-5/Home-5.pug
	include ../components/modules/Home/Home-6/Home-6.pug