extends ./_layout/_default.pug
	
block var
	- var title = 'Introduction'
	- var bodyClass = 'introduction-page'
	
block main
	include ../components/global/PageBanner/PageBanner.pug
	.wrapper-introduction
		.bg-decor-top
			+PugImg("./img/bg-partent-1.svg")
		.bg-decor-bottom
			+PugImg("./img/bg-partent-1.svg")
		.wrapper-bg.bg-linear-1-top-to-bottom
			include ../components/modules/Introduction/Introduction-1/Introduction-1
			include ../components/modules/Introduction/Introduction-2/Introduction-2
			include ../components/modules/Introduction/Introduction-3/Introduction-3
		.wrapper-bg.bg-linear-1-bottom-to-top
			//- include ../components/modules/Introduction/Introduction-4/Introduction-4
			include ../components/modules/Introduction/Introduction-5/Introduction-5