extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	.wrapper-gap-top
		include ../components/global/Breadcrumb/Breadcrumb.pug
		include ../components/modules/Products/Detail/ProductsDetail