extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/global/PageBanner/PageBanner.pug
	include ../components/global/Breadcrumb/Breadcrumb.pug
	include ../components/modules/Search/Search