section.home-1.section-py.relative.overflow-hidden
	.home-1-decor
		+PugImg("./img/bg-partent-1.svg")
	.container.relative.z-10
		.home-1-content.text-center
			h2.title-80.font-black.uppercase(
                class="text-mask-image text-image" )
				span.block IN NÊN GIÁ TRỊ
				span.block GÓI TRỌN NIỀM TIN
		a.btn.btn-primary(href="#") Về chúng tôi
		.list-stats
					.stat-item
						.stat-icon
							+PugImg("./img/exp.svg")
						.stat-info
							.stat-number 30+
							.stat-label.text-neutral-600.text-sm Năm kinh nghiệm
					.stat-item
						.stat-icon
							+PugImg("./img/exp.svg")
						.stat-info
							.stat-number 2000 M2
							.stat-label.text-neutral-600.text-sm Nhà xưởng
					.stat-item
						.stat-icon
							+PugImg("./img/exp.svg")
						.stat-info
							.stat-number 100+
							.stat-label.text-neutral-600.text-sm Nhân sự
					.stat-item
						.stat-icon
							+PugImg("./img/exp.svg")
						.stat-info
							.stat-number 200+
							.stat-label.text-neutral-600.text-sm Khách hàng/năm
