section.home-1.section-py.relative.overflow-hidden
	.home-1-decor
		+PugImg("./img/bg-partent-1.svg")
	.container.relative.z-10
		.home-1-content.text-center
			h2(
				class="text-mask-image text-image"
				data-aos="fade-up" data-aos-duration="1000")
				span.block IN NÊN GIÁ TRỊ
				span.block GÓI TRỌN NIỀM TIN
		a.btn.btn-primary(href="#" data-aos="fade-up" data-aos-delay="200") Về chúng tôi
		.list-stats
					.stat-item(data-aos="fade-up" data-aos-delay="400")
						.stat-icon
							+PugImg("./img/exp.svg")
						.stat-info
							.stat-number 30+
							.stat-label Năm kinh nghiệm
					.stat-item(data-aos="fade-up" data-aos-delay="500")
						.stat-icon
							+PugImg("./img/exp.svg")
						.stat-info
							.stat-number 2000 M2
							.stat-label Nhà xưởng
					.stat-item(data-aos="fade-up" data-aos-delay="600")
						.stat-icon
							+PugImg("./img/exp.svg")
						.stat-info
							.stat-number 100+
							.stat-label Nhân sự
					.stat-item(data-aos="fade-up" data-aos-delay="700")
						.stat-icon
							+PugImg("./img/exp.svg")
						.stat-info
							.stat-number 200+
							.stat-label Khách hàng/năm
