section.introduction-3.section-py
	-
		const historyData = [
			{
				year: '2006',
				title: 'CÔNG TY TNHH SẢN XUẤT VÀ XUẤT KHẨU HOÀNG PHÁT VINH',
				desc: 'Chuyên sản xuất tem, nhãn, thùng carton...',
				img: './img/1.jpg'
			},
			{
				year: '2010',
				title: 'Đổi tên thành: CÔNG TY TNHH HOÀNG PHÁT VINH',
				desc: 'Chuyên sản xuất tem, nhãn, thùng carton...',
				img: './img/1.jpg'
			},
			{
				year: '2011',
				title: 'Đổi tên thành: CÔNG TY TNHH IN BAO BÌ THIÊN LỘC',
				desc: 'Bắt đầu mở rộng quy mô sản xuất, xây dựng nhà xưởng rộng 2000m2 cùng nhiều máy móc hiện đại',
				img: './img/1.jpg'
			},
			{
				year: '2012',
				title: 'MỞ RỘNG QUY MÔ',
				desc: 'Tiếp tục đầu tư dây chuyền sản xuất hiện đại',
				img: './img/1.jpg'
			},
			{
				year: '2013',
				title: 'PHÁT TRIỂN BỀN VỮNG',
				desc: 'Khẳng định vị thế trên thị trường',
				img: './img/1.jpg'
			},
			{
				year: '2018',
				title: 'ĐỔI MỚI CÔNG NGHỆ',
				desc: 'Nhập khẩu dây chuyền in ấn từ Đức',
				img: './img/1.jpg'
			},
			{
				year: '2023',
				title: 'VƯƠN TẦM QUỐC TẾ',
				desc: 'Xuất khẩu sang thị trường Âu Mỹ',
				img: './img/1.jpg'
			},
			{
				year: '2025',
				title: 'VƯƠN TẦM QUỐC TẾ',
				desc: 'Xuất khẩu sang thị trường Âu Mỹ',
				img: './img/1.jpg'
			},
			{
				year: '2026',
				title: 'VƯƠN TẦM QUỐC TẾ',
				desc: 'Xuất khẩu sang thị trường Âu Mỹ',
				img: './img/1.jpg'
			}
			
		]

	.container
		h2 Lịch Sử & Phát Triển
		
		//- Timeline Slider
		.history-timeline.relative
			.swiper
				.swiper-wrapper
					each item, index in historyData
						.swiper-slide
							.year-dot
								span.year= item.year
								span.dot
			.line-bg

		//- Main Slider
		.wrapper-history-main.relative
			.history-main.relative
				.swiper
					.swiper-wrapper
						each item, index in historyData
							//- Use is-odd / is-even based on index for staggered layout
							.swiper-slide
								.history-item(class=(index % 2 === 0 ? 'is-odd' : 'is-even'))
									.content 
										.item-year
											span.dot
											span.text= item.year
										.item-content
											h3.title= item.title
											p.desc= item.desc
									.item-img
										+PugImg(item.img)
			.center-y
					.wrap-button-slide.history-nav
						.btn-prev.btn-slider-2
							i.fa-solid.fa-chevron-left
						.btn-next.btn-slider-2
							i.fa-solid.fa-chevron-right
			
