section.introduction-3.section-py
	.container
		h2.title-48.text-primary-1.font-bold.text-center.mb-10.uppercase Lịch Sử & Phát Triển
		
		//- Timeline Slider
		.history-timeline.mb-10.relative
			.swiper
				.swiper-wrapper
					each year in [2006, 2007, 2008, 2010, 2011, 2012, 2013]
						.swiper-slide
							.year-dot
								span.year= year
								span.dot
			.line-bg

		//- Main Slider
		.history-main.relative
			.swiper
				.swiper-wrapper
					//- Item 1 (2006) - Odd
					.swiper-slide
						.history-item.is-odd
							.item-year
								span.dot
								span.text 2006
							.item-content
								h3.title CÔNG TY TNHH SẢN XUẤT VÀ XUẤT KHẨU HOÀNG PHÁT VINH
								p.desc Chuyên sản xuất tem, nhãn, thùng carton...
							.item-img
								+PugImg("./img/1.jpg")
					
					//- Item 2 (2010) - Even
					.swiper-slide
						.history-item.is-even
							.item-year
								span.dot
								span.text 2010
							.item-content
								h3.title Đổi tên thành: CÔNG TY TNHH HOÀNG PHÁT VINH
								p.desc Chuyên sản xuất tem, nhãn, thùng carton...
							.item-img
								+PugImg("./img/1.jpg")

					//- Item 3 (2011) - Odd
					.swiper-slide
						.history-item.is-odd
							.item-year
								span.dot
								span.text 2011
							.item-content
								h3.title Đổi tên thành: CÔNG TY TNHH IN BAO BÌ THIÊN LỘC
								p.desc Bắt đầu mở rộng quy mô sản xuất, xây dựng nhà xưởng rộng 2000m2 cùng nhiều máy móc hiện đại
							.item-img
								+PugImg("./img/1.jpg")
					
					//- Item 4 (2012) - Even
					.swiper-slide
						.history-item.is-even
							.item-year
								span.dot
								span.text 2012
							.item-content
								h3.title MỞ RỘNG QUY MÔ
								p.desc Tiếp tục đầu tư dây chuyền sản xuất hiện đại
							.item-img
								+PugImg("./img/1.jpg")
					
					//- Item 5 (2013) - Odd
					.swiper-slide
						.history-item.is-odd
							.item-year
								span.dot
								span.text 2013
							.item-content
								h3.title PHÁT TRIỂN BỀN VỮNG
								p.desc Khẳng định vị thế trên thị trường
							.item-img
								+PugImg("./img/1.jpg")

			//- Nav
			.history-nav
				.btn-prev
					i.fa-solid.fa-chevron-left
				.btn-next
					i.fa-solid.fa-chevron-right
