.breadcrumb-wrapper.bg-white.py-2.absolute.bottom-0.left-0.w-full
	.container
		ul.flex.items-center.gap-2.text-sm.text-neutral-600
			li: a(href="/") Trang chủ
			li: span |
			li: span.text-primary-1 Giới thiệu