section.home-3.section-py.bg-gray-50(style="background-image: url('./img/bg-image-customer.png'); background-size: cover; background-position: center;")
	.container(class="")
		//- Section Header
		.section-header(class="text-center mb-10 space-y-6")
			h2.title-48.text-primary-1 Khách Hàng
			p.body-18 Sự tin tưởng của quý khách hàng là động lực để chúng tôi không ngừng phát triển và hoàn thiện
		//- Customer Slider
		.customer-slider.swiper.flex.flex-col.items-center
			.swiper-wrapper
				.swiper-slide
					.customer-card
						.customer-logo
							+PugImg("./img/vissan-logo.png")(class="w-full h-full object-contain")
						.customer-name VISSAN
				.swiper-slide
					.customer-card
						.customer-logo
							+PugImg("./img/vissan-logo.png")(class="w-full h-full object-contain")
						.customer-name Bitis
				.swiper-slide
					.customer-card
						.customer-logo
							+PugImg("./img/vissan-logo.png")(class="w-full h-full object-contain")
						.customer-name CIH
				.swiper-slide
					.customer-card
						.customer-logo
							+PugImg("./img/vissan-logo.png")(class="w-full h-full object-contain")
						.customer-name Dasin
				.swiper-slide
					.customer-card
						.customer-logo
							+PugImg("./img/vissan-logo.png")(class="w-full h-full object-contain")
						.customer-name Quốc Tế
				.swiper-slide
					.customer-card
						.customer-logo
							+PugImg("./img/vissan-logo.png")(class="w-full h-full object-contain")
						.customer-name Vinamilk
				.swiper-slide
					.customer-card
						.customer-logo
							+PugImg("./img/vissan-logo.png")(class="w-full h-full object-contain")
						.customer-name Acecook
				.swiper-slide
					.customer-card
						.customer-logo
							+PugImg("./img/vissan-logo.png")(class="w-full h-full object-contain")
						.customer-name Orion
			.swiper-pagination.home-3-pagination
			a(class="btn btn-primary btn-large mx-auto") Dịch vụ của chúng tôi
	
