.text-image
	background: url('../img/1.jpg') no-repeat center bottom 0%
	background-clip: text
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	@apply select-none bg-cover
.title
	@apply transition-colors duration-300
.section-header
	@apply space-y-3 mb-10
.header-center
	@apply space-y-6 text-center mb-10
	.title-center
		@apply title-48 text-primary-1 font-medium leading-[1.2] text-center

body 
	@apply overflow-x-hidden