section.section-services-detail-1
	.services-detail-wrapper
		.services-detail-content
			.sub-title Dịch vụ
			h1.title Hệ thống thông minh đám mây GoService
		.services-detail-image
			+PugImg('img/1.jpg')

section.section-services-detail-2.section-py
	.container
			.grid-layout
				.content-wrapper
					h2 Nền tảng đám mây thông minh GoService – Kết nối, phân tích, tối ưu vận hành
					p GoService là nền tảng IoT tiên tiến được Fusheng phát triển nhằm mang đến giải pháp quản lý hệ thống khí nén toàn diện và thông minh. Thay vì chỉ giám sát thiết bị một cách thụ động, GoService chủ động thu thập và phân tích dữ liệu vận hành từ các thiết bị khí nén, giúp phát hiện bất thường, cảnh báo sớm và hỗ trợ người dùng đưa ra quyết định kịp thời.
					p Thông qua kết nối đám mây, người dùng có thể theo dõi tình trạng thiết bị mọi lúc, mọi nơi, từ đó:
					ul
						li
							span Nâng cao hiệu quả bảo trì nhờ cảnh báo chủ động
						li
							span Giảm tiêu hao năng lượng thông qua phân tích hiệu suất
						li
							span Tăng tính sẵn sàng và tuổi thọ thiết bị
					p GoService không chỉ là một hệ thống giám sát – mà là một trợ lý kỹ thuật số giúp doanh nghiệp vận hành hệ thống khí nén một cách tiết kiệm, hiệu quả và thông minh hơn bao giờ hết.

section.section-services-detail-3.section-py
	.swiper-services-detail
		.swiper
			.swiper-wrapper
				- for(var i=1; i<=5; i++)
					.swiper-slide
						.img
							+PugImg('img/1.jpg')
							if i == 2
		.swiper-navigation
			.swiper-button-deGallery-prev.swiper-button-vuong
				i.fa-solid.fa-chevron-left
			.swiper-button-deGallery-next
				i.fa-solid.fa-chevron-right.swiper-button-vuong

section.section-services-detail-4.section-py
	.container
		h2 Dịch vụ khác
		.swiper-services-other
			.swiper
				.swiper-wrapper
					.swiper-slide
						.item
							.img
								+PugImg('img/1.jpg')
							h3.title Hệ thống quản lý tiết kiệm năng lượng EMS
					.swiper-slide
						.item
							.img
								+PugImg('img/1.jpg')
							h3.title Hệ thống thu hồi nhiệt máy nén khí
					.swiper-slide
						.item
							.img
								+PugImg('img/1.jpg')
							h3.title Mạng lưới dịch vụ
					.swiper-slide
						.item
							.img 
								+PugImg('img/1.jpg')
							h3.title Mạng lưới dịch vụ
			.swiper-navigation-center-y
				.swiper-button-other-prev.swiper-button-vuong
					i.fa-solid.fa-chevron-left
				.swiper-button-other-next.swiper-button-vuong
					i.fa-solid.fa-chevron-right
