section.introduction-1.section-py
	.container
		.intro-grid
			.col-content
				h2.intro-title(data-aos="fade-up") Giới Thiệu Về Thiên Lộc
				.intro-desc(data-aos="fade-up" data-aos-delay="200")
					p Tiền thân là Công ty Đại Quang, chúng tôi đã hoạt động trong lĩnh vực in ấn và bao bì từ năm 1991. Đến năm 2006, doanh nghiệp chính thức mang tên Công ty TNHH In Bao Bì Thiên Lộc, đánh dấu bước phát triển mới với quy mô nhà xưởng khép kín, trang bị hệ thống máy in offset và kỹ thuật số hiện đại.
					p Với hơn hai thập kỷ kinh nghiệm, Thiên Lộc không chỉ cung cấp dịch vụ in ấn chất lượng cao mà còn đồng hành cùng khách hàng kiến tạo giá trị thương hiệu. Mỗi sản phẩm in ra là kết quả của kỹ thuật chuẩn xác, sự tận tâm trong từng chi tiết, và cam kết minh bạch trong quy trình sản xuất.
					p Chúng tôi tin rằng, chất lượng là nền tảng – niềm tin là đích đến. Đó cũng chính là tinh thần được gói trọn trong triết lý thương hiệu:
					span.intro-quote "IN NÊN GIÁ TRỊ – GÓI TRỌN NIỀM TIN" (WE PRINT VALUE – WE PACK TRUST)
			.col-img(data-aos="fade-left" data-aos-delay="400")
				.img-wrapper
					+PugImg("./img/1.jpg")
		
		//- Stats reused structure
		.list-stats
			.stat-item(data-aos="fade-up" data-aos-delay="400")
				.stat-icon
					+PugImg("./img/exp.svg")
				.stat-info
					.stat-number 30+
					.stat-label Năm kinh nghiệm
			.stat-item(data-aos="fade-up" data-aos-delay="500")
				.stat-icon
					+PugImg("./img/exp.svg")
				.stat-info
					.stat-number 2000 M2
					.stat-label Nhà xưởng
			.stat-item(data-aos="fade-up" data-aos-delay="600")
				.stat-icon
					+PugImg("./img/exp.svg")
				.stat-info
					.stat-number 100+
					.stat-label Nhân sự
			.stat-item(data-aos="fade-up" data-aos-delay="700")
				.stat-icon
					+PugImg("./img/exp.svg")
				.stat-info
					.stat-number 200+
					.stat-label Khách hàng/năm

